body {
    margin: 0;

    background: #f5f5f5;


}

header {
    position: sticky;
    background-color: rgba(231, 108, 31, 0.973);
    color: rgb(255, 255, 255);
    font-size: medium;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.title h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52rem;
    height: 2rem;
}


.navbar {

    width: 31rem;
    height: 2rem;
    display: flex;
    font-size: 8px;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.navbar-div a:hover {

    color: #0c4a0c;
}

nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
}

.hero {
    height: 13rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: white;
    padding: 1rem 3rem;
}

.name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 0;

}

.description {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

.img-div {

    width: 16rem;
    height: 11rem;
}

.gif-div {
    width: 16rem;
    height: 11rem;
}


.hire-btn  {
    background: linear-gradient(135deg, #32cd32, #2e8b57);
    color: white;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.4);
    transition: 0.3s ease;
    text-decoration: none; 
    display: inline-block;
}

.hire-btn:hover {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 128, 0, 0.5);
}


.about{
        background-color:  rgba(230, 230, 230, 1);
        text-align: center;
        padding-bottom: 2rem;
        

}

.about-title{
  padding: 0.5rem 1rem;
   font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 0;
}
.about-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img-div{
 
        width: 12rem;
    height: 12rem;
    background-color: white;
      border-radius: 5px;
 box-shadow: 2px 0px 8px rgb(34, 33, 33);
    transition: all 0.3s ease;
    overflow: hidden;   
    
}

.image-div{
      margin-top: 0.5rem;
   
    width: 11rem;
    height: 11rem;
         border-radius: 5px;
           
}
.about-img-div:hover  {
   transform: scale(1.03);
}
.about-text{
  
        width: 25rem;
    height: 13rem;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


